@page
@model asp_hw_1.Pages.HW_1.Task3Model
@{
}

<link rel="stylesheet" href="~/@(nameof(asp_hw_1)).styles.css" />

<div class="restaurant-info">
    <h1>Японский ресторан "Сакура"</h1>

    <div class="image-container">
        <img src="~/img/img_1.jpg" alt="Ресторан Сакура">
    </div>

    <p><strong>Адрес:</strong> г. Ваш город, ул. Улица, дом 1</p>
    <p><strong>Телефон:</strong> +7 (123) 456-7890</p>
    <p><strong>Время работы:</strong> Пн-Пт: 11:00 - 22:00, Сб-Вс: 12:00 - 23:00</p>

    <h2>Описание ресторана:</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et ornare sapien. Fusce auctor odio in semper fringilla. Nulla facilisi.</p>

    <h2>Тип кухни:</h2>

    <ul class="cuisine-type">
        <li>Суши</li>
        <li>Сашими</li>
        <li>Maki роллы</li>
    </ul>
</div>