@page
@model asp_hw_1.Pages.HW_1.Task4Model
@{
}

<link rel="stylesheet" href="~/@(nameof(asp_hw_1)).styles.css" />

<div>
    <ul class="tree">
        <li>
            <details open>
                <summary>Рестораны</summary>
                <ul>
                    <li>
                        <details>
                            <summary>японские</summary>
                            <ul>
                                <li>
                                    <details>
                                        <summary>японский-1</summary>
                                        <ul>
                                            <li>
                                                <details>
                                                    <summary>меню</summary>
                                                    <ul>
                                                        <li>
                                                            <p><strong>блюдо-1:</strong> название</p>
                                                        </li>
                                                        <li>
                                                            <p><strong>блюдо-2:</strong> название</p>
                                                        </li>
                                                        <li>
                                                            <p><strong>блюдо-3:</strong> название</p>
                                                        </li>
                                                    </ul>
                                                </details>
                                            </li>
                                        </ul>
                                    </details>
                                </li>
                                <li>
                                    <details>
                                        <summary>японский-2</summary>
                                        <ul>
                                            <li>
                                                <details>
                                                    <summary>меню</summary>
                                                    <ul>
                                                        <li>
                                                            <p><strong>блюдо-1:</strong> название</p>
                                                        </li>
                                                        <li>
                                                            <p><strong>блюдо-2:</strong> название</p>
                                                        </li>
                                                        <li>
                                                            <p><strong>блюдо-3:</strong> название</p>
                                                        </li>
                                                    </ul>
                                                </details>
                                            </li>
                                        </ul>
                                    </details>
                                </li>
                            </ul>
                        </details>
                    </li>
                    <li>
                        <details>
                            <summary>китайские</summary>
                            <ul>
                                <li>
                                    <details>
                                        <summary>китайский-1</summary>
                                        <ul>
                                            <li>
                                                <details>
                                                    <summary>меню</summary>
                                                    <ul>
                                                        <li>
                                                            <p><strong>блюдо-1:</strong> название</p>
                                                        </li>
                                                        <li>
                                                            <p><strong>блюдо-2:</strong> название</p>
                                                        </li>
                                                        <li>
                                                            <p><strong>блюдо-3:</strong> название</p>
                                                        </li>
                                                    </ul>
                                                </details>
                                            </li>
                                        </ul>
                                    </details>
                                </li>
                                <li>
                                    <details>
                                        <summary>китайский-2</summary>
                                        <ul>
                                            <li>
                                                <details>
                                                    <summary>меню</summary>
                                                    <ul>
                                                        <li>
                                                            <p><strong>блюдо-1:</strong> название</p>
                                                        </li>
                                                        <li>
                                                            <p><strong>блюдо-2:</strong> название</p>
                                                        </li>
                                                        <li>
                                                            <p><strong>блюдо-3:</strong> название</p>
                                                        </li>
                                                    </ul>
                                                </details>
                                            </li>
                                        </ul>
                                    </details>
                                </li>
                                <li>
                                    <details>
                                        <summary>китайский-3</summary>
                                        <ul>
                                            <li>
                                                <details>
                                                    <summary>меню</summary>
                                                    <ul>
                                                        <li>
                                                            <p><strong>блюдо-1:</strong> название</p>
                                                        </li>
                                                        <li>
                                                            <p><strong>блюдо-2:</strong> название</p>
                                                        </li>
                                                        <li>
                                                            <p><strong>блюдо-3:</strong> название</p>
                                                        </li>
                                                    </ul>
                                                </details>
                                            </li>
                                        </ul>
                                    </details>
                                </li>
                            </ul>
                        </details>
                    </li>
                    <li>
                        <details>
                            <summary>европейские</summary>
                            <ul>
                                <li>
                                    <details>
                                        <summary>европейский-1</summary>
                                        <ul>
                                            <li>
                                                <details>
                                                    <summary>меню</summary>
                                                    <ul>
                                                        <li>
                                                            <p><strong>блюдо-1:</strong> название</p>
                                                        </li>
                                                        <li>
                                                            <p><strong>блюдо-2:</strong> название</p>
                                                        </li>
                                                        <li>
                                                            <p><strong>блюдо-3:</strong> название</p>
                                                        </li>
                                                    </ul>
                                                </details>
                                            </li>
                                        </ul>
                                    </details>
                                </li>
                                <li>
                                    <details>
                                        <summary>европейский-2</summary>
                                        <ul>
                                            <li>
                                                <details>
                                                    <summary>меню</summary>
                                                    <ul>
                                                        <li>
                                                            <p><strong>блюдо-1:</strong> название</p>
                                                        </li>
                                                        <li>
                                                            <p><strong>блюдо-2:</strong> название</p>
                                                        </li>
                                                        <li>
                                                            <p><strong>блюдо-3:</strong> название</p>
                                                        </li>
                                                    </ul>
                                                </details>
                                            </li>
                                        </ul>
                                    </details>
                                </li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </details>
        </li>
    </ul>
</div>