@page
@model asp_hw_1.Pages.HW_1.Task5Model
@{
}

<link rel="stylesheet" href="~/@(nameof(asp_hw_1)).styles.css" />

<div class="py-5">
    <div class="container">
        <div class="row hidden-md-up">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Абхазия</h4>
                        <div class="image-container">
                            <img src="~/img/abhazia.jpg" alt="Абхазия" class="img-thumbnail">
                        </div>
                        <p class="card-text card-body">
                            Абхазия раскинулась в предгорьях сверкающих вечным снегом Кавказских гор, к которым, по античной легенде, был прикован титан Прометей,
                            похитивший для людей огонь у богов. Этот исторический регион Западного Кавказа, имеющий сегодня неопределенный международный статус,
                            на севере соседствует с Российской Федерацией, а его южные районы граничат с Грузией. Абхазское побережье, мелко изрезанное миниатюрными бухтами,
                            протянувшееся почти на 210 километров, омывают воды Черного моря.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Багамы</h4>
                        <div class="image-container">
                            <img src="~/img/bagami.jpg" alt="Багамы" class="img-thumbnail">
                        </div>
                        <p class="card-text card-body">
                            Багамы – страна, расположенная на одноименном архипелаге, к северу от Кубы и акватории Карибского моря, к востоку от полуострова Флорида.
                            При упоминании Багамских островов воображение рисует картину безмятежного отдыха с его главными атрибутами: пальмами и белым песком.
                            Джордж Вашингтон называл Багамы «островами вечного июня» вполне заслуженно – солнце светит здесь целых 320 дней в году! 
                            Гостиничный сервис котируется очень высоко и считается одним из лучших на Карибах. Отдых на островах обходится не дешево, однако это
                            не останавливает 6 миллионов туристов, ежегодно приезжающих на Багамы.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Ватикан</h4>
                        <div class="image-container">
                            <img src="~/img/vatikan.jpg" alt="Ватикан" class="img-thumbnail">
                        </div>
                        <p class="card-text card-body">
                            Ватикан — государство-город, лежит на правом берегу Тибра и включает в себя суверенную государственную папскую область в пределах Рима,
                            образованную вместо упраздненного в 1870 году при объединении Италии папского государства. К городу Ватикану относятся площадь Св. Петра,
                            собор Св. Петра, Ватиканские сады, по большей части обнесенные стеной. К самому маленькому государству мира (площадь – 0,44 км²,
                            население – около 1000 жителей) относятся также патриаршие базилики Санта-Мария-Маджоре, Сан-Паоло-фуори-ле-Мура и Сан-Джованни-ин-Латерано,
                            административные здания и папская летняя резиденция в замке Кастель-Гандольфо.
                        </p>
                    </div>
                </div>
            </div>
        </div><br>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Гвинея</h4>
                        <div class="image-container">
                            <img src="~/img/gvinea.jpg" alt="Гвинея" class="img-thumbnail">
                        </div>
                        <p class="card-text card-body">
                            Гвинея расположена в Западной Африке у побережья Атлантического океана, омывающего 300-километровую сильно изрезанную береговую линию.
                            Площадь — 245 800 км². Территория страны расположена в пределах древней Африканской платформы, разбитой многочисленными разломами,
                            сбросами с выходами вулканических пород. До 1958 года Гвинея была колонией Франции, ныне — президентская республика с населением
                            около 12,4 млн человек. Официальный язык — французский.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Иран</h4>
                        <div class="image-container">
                            <img src="~/img/iran.jpg" alt="Иран" class="img-thumbnail">
                        </div>
                        <p class="card-text card-body">
                            Исламская Республика Иран (до 1935 года официальное название Персия) — одно из наиболее крупных государств Юго-Западной Азии.
                            Его площадь – 1 648 195 км². На севере Иран омывают воды Каспийского моря, на юге — Персидского и Оманского заливов.
                            Граничит с Турцией (на северо-западе), Афганистаном и Пакистаном (на востоке), Ираком (на западе), а также со странами бывшего СССР — 
                            Арменией, Азербайджаном, Туркменистаном (на севере). Столица — Тегеран. Население страны — 79 966 230 человек (2017 г.).
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Доминиканская Республика</h4>
                        <div class="image-container">
                            <img src="~/img/dominikana.jpg" alt="Доминиканская Республика" class="img-thumbnail">
                        </div>
                        <p class="card-text card-body">
                            Доминиканская Республика — государство, которое занимает почти три четверти острова Гаити. Эта удивительная страна привлекает туристов
                            со всего мира возможностью отдохнуть на белоснежных пляжах, будто сошедших с рекламных проспектов, прикоснуться к практически не тронутой
                            человеком экзотической природе, попробовать неповторимую местную кухню и привезти оригинальные сувениры, в том числе какао и табачные изделия.
                            Раздающиеся вдалеке звуки музыки будут радовать слух, а легкий бриз – освежать усталых путешественников и вселять в них бодрость.
                            Доминиканцы относятся к туристам с большим радушием. Многие местные жители, хотя остров традиционно является испаноязычным,
                            неплохо владеют английским.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>